body{
	margin: 0;
	padding: 0;
	background-color: #000;
	background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 2em;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

#countdownChristmas{
	color: #006633;
}

#countdownNewYear{
	color: #cc3333;
}